<!DOCTYPE html>
<html>
<header>
    <title>Triangle Fraternity</title>

    <link rel="icon" href="http://illinoistriangle.com/favicon.ico">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</header>
<main>
    <body>
        <!-- Navbar Dropdown -->
        <ul id="dropdown1" class="dropdown-content">
            <li><%= link_to "Brother Directory", brothers_path %></li>
            <li class="divider"></li>
            <li><%= link_to "DJ Assignments", chores_path %></li>
        </ul>

        <!-- Navbar -->
        <div class="navbar-fixed">
            <nav class="oldrose-background">
              <div class="nav-wrapper">
                  <a href="/" class="brand-logo">Triangle Fraternity</a>
                  <ul class="right">
                       <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Develop Menu<i class="material-icons right">arrow_drop_down</i></a></li>
                   </ul>
                  <ul id="nav-mobile" class="right table-of-contents hide-on-med-and-down">
                      <% if( controller_name == 'home_page')%>
                      <% if current_user %>
                      <li><%= link_to "#{current_user.first_name}", user_path(current_user.id) , class: "navbar-font-white" %></li>
                      <% else %>
                      <li><%= link_to "Log In / Sign Up", login_path, class: "navbar-font-white" %>
                      <% end %>
                      <li><a class="navbar-font-white" href="#about">About</a></li>
                      <li><a class="navbar-font-white" href="#members">Members</a></li>
                      <li><a class="navbar-font-white" href="#events">Events</a></li>
                      <li><a class="navbar-font-white" href="#scholarship">Scholarship</a></li>
                      <!-- <li><a class="navbar-font-white" href="#involvement">Involvement</a></li> -->
                      <li><a class="navbar-font-white" href="#contact">Contact</a></li>
                      <% else %>
                      <% if current_user %>
                      <li><%= link_to "#{current_user.first_name}", user_path(current_user.id), class: "navbar-font-white" %></li>
                      <% else %>
                      <li><%= link_to "Log In / Sign Up", login_path, class: "navbar-font-white" %>
                      <% end %>
                      <li><a class="navbar-font-white" href="/#about">About</a></li>
                      <li><a class="navbar-font-white" href="/#members">Members</a></li>
                      <li><a class="navbar-font-white" href="/#events">Events</a></li>
                      <li><a class="navbar-font-white" href="/#scholarship">Scholarship</a></li>
                      <!-- <li><a class="navbar-font-white" href="/#involvement">Involvement</a></li> -->
                      <li><a class="navbar-font-white" href="/#contact">Contact</a></li>
                      <% end %>
                 </ul>
                </div>
              </div>
            </nav>
        </div>

    <%= yield %>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    </body>
</main>

<footer class="oldrose-background page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Triangle Fraternity | Illinois Chapter</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Brother Search</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">President</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">External Director</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Social Chair</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016
    <a class="grey-text text-lighten-4 right" href="#!">Presented by the Brothers of Triangle</a>
    </div>
  </div>
</footer>
</html>
