<!-- Content -->
<div class="container">
    <h2>Brother Directory: Create New Brother</h2>
    <%= form_for(@brother) do |b| %>
        <%= b.text_field :name, placeholder: "Name", class: 'input-field validate' %>
        <%= b.text_field :initials, placeholder: "Initials", class: 'input-field validate' %>
        <%= b.text_field :pledge_class, placeholder: "Pledge Class", class: 'input-field validate' %>
        <%= b.text_field :major, placeholder: "Major", class: 'input-field validate' %>
        <%= b.text_field :grad_year, placeholder: "Graduation Year", class: 'input-field validate' %>
        <%= b.text_field :phone, placeholder: "Phone Number", class: 'input-field validate' %>
        <%= b.submit "Create", class: 'waves-effect waves-light btn' %>
    <% end %>
</div>
