<!-- Content -->
<div class="container">
    <h2>Brother Directory:</h2>
    <h4>Brother <%= @brother.name %></h4>
    <table class="striped">
        <thead>
            <tr>
                <th>Fields</th>
                <th>Brother Info</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td><%= @brother.name %></td>
            </tr>
            <tr>
                <td>Initials
                <td><%= @brother.initials %></td>
            </tr>
            <tr>
                <td>Pledge Class </td>
                <td><%= @brother.pledge_class %></td>
            </tr>
            <tr>
                <td>Major</td>
                <td><%= @brother.major %></td>
            </tr>
            <tr>
                <td>Graduation Year</td>
                <td><%= @brother.grad_year %></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><%= @brother.phone %></td>
            </tr>
        </tbody>
    </table>
    <br/>
    <%= link_to 'Edit',  edit_brother_path(@brother.id), class: 'waves-effect waves-light btn orange' %>
</div>
