<head>
    <title>Triangle Fraternity</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</head>
<body>
    <!-- Navbar -->
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Triangle Fraternity</a>
      </div>
    </nav>

    <!-- Content -->
    <div class="container">
        <h2>Daily Jobs: Chore <%= @chore.id %> </h2>
        <%= form_for(@chore) do |chore| %>
        <%= chore.text_field :name, value: "#{@chore.name}", placeholder: 'Name' %>
        <%= chore.text_area :description, value: "#{@chore.description}", placeholder: 'Description', class: 'materialize-textarea' %>
        <%= chore.submit "Update", class: 'waves-effect waves-light btn' %>
        <% end %>
        <br/>
        <br/>
        <%= link_to "Delete Chore", @chore, method: :delete, class: 'waves-effect waves-light btn red', data: { confirm: "Are you sure you want to delete chore, #{@chore.name}?" } %>
    </div>
</body>
