<!-- Content -->
<div class="container">
    <h2>Daily Jobs: Chore <%= @chore.id %> </h2>
    <%= form_for(@chore) do |chore| %>
    <%= chore.text_field :name, value: "#{@chore.name}", placeholder: 'Name' %>
    <%= chore.text_area :description, value: "#{@chore.description}", placeholder: 'Description', class: 'materialize-textarea' %>
    <%= chore.submit "Update", class: 'waves-effect waves-light btn' %>
    <% end %>
    <br/>
    <br/>
    <%= link_to "Delete Chore", @chore, method: :delete, class: 'waves-effect waves-light btn red', data: { confirm: "Are you sure you want to delete chore, #{@chore.name}?" } %>
</div>
