<!-- Content -->
<div class="container">
    <h2>Daily Jobs: Chore <%= @chore.id %> </h2>
    <p><%= @chore.name %></p>
    <p><%= @chore.description %></p>
    <%= link_to "Go Back", chores_path, class: 'waves-effect waves-light btn' %>
    <br/>
    <br/>
    <%= link_to "Edit Chore", edit_chore_path, class: 'waves-effect waves-light btn orange' %>
</div>
